# Configuration for the InfluxDB 2.0 Docker container and Python client
# 
# 1. Copy this file to a new file named .env
#    cp .env.example .env
# 
# 2. Fill in the missing values in your new .env file

# --- InfluxDB Settings ---

# --- Login credentials for the UI & Python client ---
INFLUX_USERNAME=admin
INFLUX_PASSWORD=password
INFLUX_TOKEN=secret-token

# --- Names for Org & Bucket ---
INFLUX_ORG=Turbine-Monitoring-Project
INFLUX_BUCKET=turbine_data

# --- MQTT Settings ---
# Quality of Service level (0, 1, or 2).
MQTT_QOS=0